/* app css stylesheet */
  input {

    margin-bottom:20px!important;

  }
  .form-signin-heading {
  text-align:center;
}
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}
#sortDropdown {
  margin-right:15px;
  margin-top:10px;
  margin-bottom:5px;
}
.no-record {
  font-style:italic;
}
.menu:before {
  content: "[";
}
.cursor-pointer {
  cursor : pointer;
}
.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}


body {
  background: #bbb !important;  
}

.wrapper {  
  margin-top: 80px;
  margin-bottom: 80px;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);  

  .form-signin-heading,
  .checkbox {
    margin-bottom: 30px;

  }

  .checkbox {
    font-weight: normal;
  }

  .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    @include box-sizing(border-box);

    &:focus {
      z-index: 2;
    }
  }

  input[type="email"] {
    /*margin-bottom: -1px;*/
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom:10px!important;

  }

  input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
